<div class="ui pointing menu">
  <a class="active item">
    Instituciones
  </a>
  <a class="item">
    Registro de Institucion
  </a>
  <a class="item">
    login
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui segment">
  <div class="ui circular segment">
    <h2 class="ui header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
      Intitucion <br>Publica
    </font></font><div class="sub header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aceptar</font></font></div>
    </h2>
  </div>
  <div class="ui inverted circular segment">
    <h2 class="ui inverted header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
      Institucion <br>privada
    </font></font><div class="sub header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aceptar</font></font></div>
    </h2>
  </div>
</div>
